/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&display=swap');
.h1,h1,.h2,h2,.h3,h3,.h4,h4,.h5,h5{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #251a17ff;
}
tr, td {
    padding: 15px;
}
body {
    background: #e5d7c0ff;
}
.card {
    background: #FFFFFF;
}
// attempting to change only the homepage banner background 
#home-banner .bg-dark{
    --bs-bg-opacity: 0.7;
    background-color: rgba(37, 26, 23, var(--bs-bg-opacity)) !important;
    //background-color: rgba(65, 69, 70, var(--bs-bg-opacity)) !important;
}
// attempting to change the navbar and foooters to be more solid 
.navbar.bg-dark {
    background-color: #251a17ff !important;  
}
// attempt for footer
footer.bg-dark {
    background-color: #251a17ff !important;  
}
// remove navbar border, gross
.navbar {
  border: none !important;
  box-shadow: none !important;
}
// updating color themes
.btn-primary {
  background-color: #da404eff !important;
  border-color: #da404eff !important;
  color: #fff !important;
  transition: background-color 0.2s ease;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c23a46 !important; /* ~15% darker */
  border-color: #c23a46 !important;
}
.btn-success {
  background-color: #b2b6bb !important;
  border-color: #b2b6bb !important;
  color: #FFF !important;
  transition: background-color 0.2s ease;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #9ca0a4 !important; /* ~15% darker */
  border-color: #9ca0a4 !important;
}
.btn-outline-primary {
  color: #da404e !important;
  border-color: #da404e !important;
  background-color: transparent !important;
  transition: background-color 0.2s ease, color 0.2s ease;
}
// word cloud button color update
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #da404e !important;   
  border-color: #da404e !important;
  color: #fff !important;                
}
.carousel-item-title {
  --bs-bg-opacity: 0.8;
 background-color: rgba(37, 26, 23, var(--bs-bg-opacity)) !important;
}
